html {
    box-sizing: border-box;
    background-color: lightblue;
    padding: 50px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .fresh-form {
    font-family: Arial;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-top: 5px solid steelblue;
  }
/* button css */
  .fresh-button {
    border: 0;
    background-color: #eb675e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 1rem;
    text-decoration: none;
  }
  